fastapi
uvicorn[standard]
pydantic
python-multipart
torch
transformers
openai-whisper
faster-whisper==1.0.3
ctranslate2==4.4.0
numpy
soundfile
resemblyzer
requests
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-dotenv